{% load static %}  
<html>
    <head>
        
        <title>salut</title>
        {% load static %}
        <link rel="stylesheet"  href="{% static 'css/autre.css' %}" type="text/css" >
    </head>
    <header>
        <div class="TopBar">
            <nav>
                <ul>
                    <li><a href="/acceuil/"><h1>MENU</h1</a></li>
                    <li><a href="/showList/"><h1>SEE LIST</h1></a></li>
                    <li><a href="/new/"><h1>ADD ANNIV</h1></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <body>
        <p class="mot">
            {{ mot }} </br>
        </p>
    </body>

</html>